<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InterPlot</title>
    <link href="stylish.css" rel="stylesheet">
</head>
<body>




<div class="sidenav" >

    <p class="title"> InterPlot</p>

    <p class="formName">Speed Limit in Mbps</p>
    <form action="/scan" method="POST" >
        <div>
            <textarea  name="speedLimit" rows="2" cols="50">

            </textarea>
        </div>


        <div>
            <p class="formName">Number of connection attempts</p>
            <textarea  name="connNum" rows="2" cols="50">

            </textarea>
        </div>
        <input  type="submit" value="Start Scan" style="margin-top: -90%" >
    </form>
</div>


<img src="output.png" class="image">



</body>
</html>